<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test</title>
</head>


<script>

    function abc() {

        const xhr = new XMLHttpRequest();
        xhr.open('POST', '/test', true);

        xhr.onprogress = function () {
            console.log('On progress');
        }
        xhr.onload = function () {
            if (this.status === 200) {
                let obj = (this.responseText);
                let list = document.getElementById('test');

                list.innerHTML = obj;
            }
            else {
                console.log("Some error occured")
            }
        }



        var user = document.getElementById('txt').value
        params = { "name": user };
        xhr.send(JSON.stringify(params));


    }


</script>


<body>
    <div>
        <input type="text" id="txt" onchange="abc()"></input>
        <span id="test"></span>
    </div>
    
       
   
</body>

</html>