<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/util.css">
  <link rel="stylesheet" href="/static/css/style.css">

  <title>Blog</title>
</head>
<style>
  :root {
    --main-bg-color: {{main_color}};

    --bg_img: {{bg_img}}
    }
</style>

<body>
  <div class="upper">
    <div class="bgimg"></div>



    <nav class="nav width_1 m_auto" id="nav">
      <div class="nav-left">
        <div>
          <a href="/" class="title">{{blog_name}}</a>
        </div>

        <ul class="responsive-opecity">

          <li class="nav-item"> <a href="/">Home</a> </li>
          <li class="nav-item"><a href="/about">About</a></li>
          <li class="nav-item"><a href="/contact">Contact</a></li>

          {% if current_user.is_authenticated %}
          <li class="nav-item"><a href="/logout">Logout</a></li>
          {% else %}
          <li class="nav-item"><a href="/login">Login</a></li>
          {% endif %}
          <li class="nav-item">
            <form class="search" action="#">
              <input placeholder="search artical" class="form-input" required name="search" />
              <input type="submit" class="btn" value="Search" />
            </form>
          </li>
        </ul>

      </div>

      <div class="burger">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
      </div>
    </nav>




    <div class="main_page_h">
      {{page_heading}}
    </div>
    <div class="main_page_subh">
      {{page_subheading}}
    </div>

  </div>


  <div class="space_btw"></div>

  {% block body %} {% endblock %}
  <div class="space_btw"></div>

  <div class="footer width_2 m_auto">
    <footer class="foot">
      <div class="logo_foot">
        <a href="https://github.com" target="blank"><img src="/static/img/github-logo.png" alt="github" srcset=" "
            class="social_logo"></a>
        <a href="https://facebook.com" target="blank"><img src="/static/img/facebook_logo.png" alt="github" srcset=" "
            class="social_logo"></a>
        <a href="https://instagram.com" target="blank"><img src="/static/img/insta_logo.png" alt="github" srcset=" "
            class="social_logo"></a>
      </div>
    </footer>

  </div>
  </div>
</body>




</html>