<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/util.css">
  <link rel="stylesheet" href="/static/css/style.css">
  <script src="/static/script/main.js"></script>
  <script src=""></script>
  <title>Blog</title>
</head>
<style>
  :root {
    --main-bg-color: {{main_color}};
    }
</style>

<body>


    <nav class="nav-base" id="nav">
      <div class="nav-left-base">
        <div>
          <a href="/" class="title-base">{{blog_name}}</a>
        </div>

        <ul>

          <li> <a href="/">Home</a> </li>
          <li><a href="/about">About</a></li>
          <li><a href="/contact">Contact</a></li>

          {% if current_user.is_authenticated %}
          <li><a href="/logout">Logout</a></li>
          {% else %}
          <li><a href="/login">Login</a></li>
          {% endif %}
          <li>
            <form action="#">
              <input placeholder="search artical" class="search-input-base" required name="search" />
              <input type="submit" class="search-btn-base" value="Search" />
            </form>
          </li>
        </ul>

      </div>

      
    </nav>




    




 

  {% block body %} {% endblock %}
  
  <div class="footer width_2 m_auto">
    <footer class="foot">
      <div class="logo_foot">
        <a href="https://github.com" target="blank"><img src="/static/img/github-logo.png" alt="github" srcset=" "
            class="social_logo"></a>
        <a href="https://facebook.com" target="blank"><img src="/static/img/facebook_logo.png" alt="facebook" srcset=" "
            class="social_logo"></a>
        <a href="https://instagram.com" target="blank"><img src="/static/img/insta_logo.png" alt="instagram" srcset=" "
            class="social_logo"></a>
      </div>
    </footer>

  </div>
  </div>
</body>




</html>