{% extends "base-2.html" %}
{% block body %}

<div class="content width_1 m_auto">


  <div class="login-greet">Login</div>
  <div class="login-form">
    <div class="login-email">
      <input type="text" name="logemail" id="logemail" placeholder="E-Mail" class="login-input-email" required
        onchange="check_email_for_login()">
      <div style="padding-top: 2vw;"></div>

      <input type="password" name="logpass" id="logpass" placeholder="Password" class="login-input-pass" required>

      <div>
        <span id="login_warning" style="color: red; font-weight: bold; opacity: 0;">*</span>
      </div>
    
    </div>



    <button onclick="check_password_for_login()" class="login-btn" id="login-btn">Login</button>
  </div>
</div>
<div style="text-align: center; padding-top: 10px;">
  <a href="/forgetpass" >Forget Password?</a>
</div>
<div style="text-align: center; padding-top: 1vw; font-size: 1.5vw;">
  New author? <a href="/signup"> register</a> yourselef
</div>


{% endblock %}