{% extends "base-2.html" %}
{% block body %}


<span style="font-family: var(--font-1); font-size: 80px;">Hi this is the test</span>
<br>
<span style="font-family: var(--font-2); font-size: 80px;">hi this is the test</span>
<br>
<span style="font-family: var(--font-3); font-size: 80px;">hi this is the test</span>
<br>
<span style="font-family: var(--font-4); font-size: 80px;">hi this is the test</span>
<br>
<span style="font-family: var(--font-5); font-size: 80px;">hi this is the test</span>
<br>
<span style="font-family: var(--font-6); font-size: 80px;">hi this is the test</span>
<br>
<span style="font-family: var(--font-7); font-size: 80px;">hi this is the test</span>
<br>
<span style="font-family: var(--font-8); font-size: 80px;">hi this is the test</span>

    {% endblock %}